<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynu.mapper.OrderSeatMapper">
  <resultMap id="BaseResultMap" type="com.ynu.dto.OrderSeat">
    <id column="idorderSeat" jdbcType="INTEGER" property="idorderseat" />
    <result column="fk_orderSeat_idOrder" jdbcType="INTEGER" property="fkOrderseatIdorder" />
    <result column="fk_orderSeat_idSeat" jdbcType="INTEGER" property="fkOrderseatIdseat" />
  </resultMap>
  <sql id="Base_Column_List">
    idorderSeat, fk_orderSeat_idOrder, fk_orderSeat_idSeat
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderSeat
    where idorderSeat = #{idorderseat,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderSeat
    where idorderSeat = #{idorderseat,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ynu.dto.OrderSeat">
    insert into orderSeat (idorderSeat, fk_orderSeat_idOrder, 
      fk_orderSeat_idSeat)
    values (#{idorderseat,jdbcType=INTEGER}, #{fkOrderseatIdorder,jdbcType=INTEGER}, 
      #{fkOrderseatIdseat,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ynu.dto.OrderSeat">
    insert into orderSeat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idorderseat != null">
        idorderSeat,
      </if>
      <if test="fkOrderseatIdorder != null">
        fk_orderSeat_idOrder,
      </if>
      <if test="fkOrderseatIdseat != null">
        fk_orderSeat_idSeat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idorderseat != null">
        #{idorderseat,jdbcType=INTEGER},
      </if>
      <if test="fkOrderseatIdorder != null">
        #{fkOrderseatIdorder,jdbcType=INTEGER},
      </if>
      <if test="fkOrderseatIdseat != null">
        #{fkOrderseatIdseat,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ynu.dto.OrderSeat">
    update orderSeat
    <set>
      <if test="fkOrderseatIdorder != null">
        fk_orderSeat_idOrder = #{fkOrderseatIdorder,jdbcType=INTEGER},
      </if>
      <if test="fkOrderseatIdseat != null">
        fk_orderSeat_idSeat = #{fkOrderseatIdseat,jdbcType=INTEGER},
      </if>
    </set>
    where idorderSeat = #{idorderseat,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ynu.dto.OrderSeat">
    update orderSeat
    set fk_orderSeat_idOrder = #{fkOrderseatIdorder,jdbcType=INTEGER},
      fk_orderSeat_idSeat = #{fkOrderseatIdseat,jdbcType=INTEGER}
    where idorderSeat = #{idorderseat,jdbcType=INTEGER}
  </update>
</mapper>