<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynu.mapper.PriceMapper">
  <resultMap id="BaseResultMap" type="com.ynu.dto.Price">
    <id column="idPrice" jdbcType="INTEGER" property="idprice" />
    <result column="idPlay1" jdbcType="INTEGER" property="idplay1" />
    <result column="idAuditorium1" jdbcType="INTEGER" property="idauditorium1" />
    <result column="idEdition1" jdbcType="INTEGER" property="idedition1" />
    <result column="price_screens" jdbcType="VARCHAR" property="priceScreens" />
    <result column="prices" jdbcType="DECIMAL" property="prices" />
  </resultMap>
  <sql id="Base_Column_List">
    idPrice, idPlay1, idAuditorium1, idEdition1, price_screens, prices
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from price
    where idPrice = #{idprice,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from price
    where idPrice = #{idprice,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ynu.dto.Price">
    insert into price (idPrice, idPlay1, idAuditorium1, 
      idEdition1, price_screens, prices
      )
    values (#{idprice,jdbcType=INTEGER}, #{idplay1,jdbcType=INTEGER}, #{idauditorium1,jdbcType=INTEGER}, 
      #{idedition1,jdbcType=INTEGER}, #{priceScreens,jdbcType=VARCHAR}, #{prices,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ynu.dto.Price">
    insert into price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idprice != null">
        idPrice,
      </if>
      <if test="idplay1 != null">
        idPlay1,
      </if>
      <if test="idauditorium1 != null">
        idAuditorium1,
      </if>
      <if test="idedition1 != null">
        idEdition1,
      </if>
      <if test="priceScreens != null">
        price_screens,
      </if>
      <if test="prices != null">
        prices,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idprice != null">
        #{idprice,jdbcType=INTEGER},
      </if>
      <if test="idplay1 != null">
        #{idplay1,jdbcType=INTEGER},
      </if>
      <if test="idauditorium1 != null">
        #{idauditorium1,jdbcType=INTEGER},
      </if>
      <if test="idedition1 != null">
        #{idedition1,jdbcType=INTEGER},
      </if>
      <if test="priceScreens != null">
        #{priceScreens,jdbcType=VARCHAR},
      </if>
      <if test="prices != null">
        #{prices,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ynu.dto.Price">
    update price
    <set>
      <if test="idplay1 != null">
        idPlay1 = #{idplay1,jdbcType=INTEGER},
      </if>
      <if test="idauditorium1 != null">
        idAuditorium1 = #{idauditorium1,jdbcType=INTEGER},
      </if>
      <if test="idedition1 != null">
        idEdition1 = #{idedition1,jdbcType=INTEGER},
      </if>
      <if test="priceScreens != null">
        price_screens = #{priceScreens,jdbcType=VARCHAR},
      </if>
      <if test="prices != null">
        prices = #{prices,jdbcType=DECIMAL},
      </if>
    </set>
    where idPrice = #{idprice,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ynu.dto.Price">
    update price
    set idPlay1 = #{idplay1,jdbcType=INTEGER},
      idAuditorium1 = #{idauditorium1,jdbcType=INTEGER},
      idEdition1 = #{idedition1,jdbcType=INTEGER},
      price_screens = #{priceScreens,jdbcType=VARCHAR},
      prices = #{prices,jdbcType=DECIMAL}
    where idPrice = #{idprice,jdbcType=INTEGER}
  </update>
</mapper>