<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ynu.mapper.Film_inforMapper">
	<resultMap type="com.ynu.dto.Film_infor" id="filmMap">
		<id property="idFilm" column="idFilm" />
		<result property="f_name" column="f_name" />
		<result property="f_director" column="f_director" />
		<result property="f_star" column="f_star" />
		<result property="idClass" column="idClass" />
		<result property="f_country" column="f_country" />
		<result property="f_time" column="f_time" />
		<result property="f_level" column="f_level" />
		<result property="f_comment" column="f_comment" />
		<result property="f_introduce" column="f_introduce" />
		<result property="f_cover_s" column="f_cover_s" />
		<result property="f_cover_b" column="f_cover_b" />
		<result property="f_online" column="f_online" />
		<result property="f_ontime" column="f_ontime" />
		<result property="class_name" column="class_name" />
	</resultMap>
	<resultMap type="com.ynu.dto.User" id="userMap2">
		<id property="idUser" column="idUser" />
		<result property="user_name" column="user_name" />
		<result property="user_pw" column="user_pw" />
		<result property="usersex" column="usersex" />
		<result property="user_birth" column="user_birth" />
		<result property="user_phone" column="user_phone" />
		<result property="user_mail" column="user_mail" />
		<result property="user_point" column="user_point" />
		<result property="idLevel" column="idLevel" />
		<result property="account" column="account" />
	</resultMap>

	<resultMap type="com.ynu.dto.User" id="userOrderMap" extends="userMap2">
		<collection property="orders" ofType="com.ynu.dto.Order">
			<id property="idOrder" column="idOrder" />
			<result property="idUser" column="idUser" />
			<result property="idprice" column="idprice" />
			<result property="true_price" column="true_price" />
			<result property="order_number" column="order_number" />
			<result property="order_total" column="order_total" />
			<result property="order_state" column="order_state" />

		</collection>
		<collection property="orderSeats" ofType="com.ynu.dto.OrderSeat">
			<id property="idorderSeat" column="idorderSeat" />
			<result property="fk_orderSeat_idOrder" column="fk_orderSeat_idOrder" />
			<result property="fk_orderSeat_idSeat" column="fk_orderSeat_idSeat" />
		</collection>
		<collection property="seats" ofType="com.ynu.dto.Seat">
			<id property="idSeat" column="idSeat" />
			<result property="seat_num" column="seat_num" />
			<result property="seat_state" column="seat_state" />
			<result property="seat_order" column="seat_order" />
			<result property="fk_seat_idAuditorium" column="fk_seat_idAuditorium" />
		</collection>

	</resultMap>
	<resultMap type="com.ynu.dto.Film_infor" id="filmStudioMap"
		extends="filmMap">
		<collection property="studios" ofType="com.ynu.dto.Studio">
			<id property="idStudio" column="idStudio" />
			<result property="studio_name" column="studio_name" />
			<result property="studio_online" column="studio_online" />
			<result property="studio_address" column="studio_address" />
			<result property="studio_phone" column="studio_phone" />
			<result property="studio_text" column="studio_text" />
		</collection>
		<collection property="plays" ofType="com.ynu.dto.Play">
			<id property="idPlay" column="idPlay" />
			<result property="idStudio" column="idStudio" />
			<result property="idFilm" column="idFilm" />
			<result property="play_on" column="play_on" />
			<result property="play_ontime" column="play_ontime" />
			<result property="play_uptime" column="play_uptime" />
		</collection>
		<collection property="auditoriums" ofType="com.ynu.dto.Auditorium">
			<id property="idAuditorium" column="idAuditorium" />
			<result property="idStudio" column="idStudio" />
			<result property="auditorium_num" column="auditorium_num" />
			<result property="auditorium_col" column="auditorium_col" />
			<result property="auditorium_row" column="auditorium_row" />
		</collection>
		<collection property="editions" ofType="com.ynu.dto.Edition">
			<id property="idEdition" column="idEdition" />
			<result property="edition_name" column="edition_name" />
		</collection>
		<collection property="classifications" ofType="com.ynu.dto.Classification">
			<id property="idClass" column="idClass" />
			<result property="class_name" column="class_name" />
		</collection>
		<collection property="prices" ofType="com.ynu.dto.Price">
			<id property="idPrice" column="idPrice" />
			<result property="idPlay1" column="idPlay1" />
			<result property="idAuditorium1" column="idAuditorium1" />
			<result property="idEdition1" column="idEdition1" />
			<result property="price_screens" column="price_screens" />
			<result property="prices" column="prices" />
		</collection>
		<collection property="seats" ofType="com.ynu.dto.Seat">
			<id property="idSeat" column="idSeat" />
			<result property="seat_num" column="seat_num" />
			<result property="seat_state" column="seat_state" />
			<result property="seat_order" column="seat_order" />
			<result property="fk_seat_idAuditorium" column="fk_seat_idAuditorium" />
		</collection>
	</resultMap>
	<select id="selectPlayByfilmName" parameterType="String"
		resultMap="filmStudioMap">
		select p.*,a.*,e.*,s.*,f.*,pl.*,c.*
		from film_infor f
		left
		join play pl on f.idFilm = pl.idFilm
		left join
		price p on pl.idPlay =
		p.idPlay1
		left join studio s on pl.idStudio = s.idStudio
		left join
		edition e on
		e.idEdition =
		p.idEdition1
		left join
		auditorium a on
		a.idAuditorium =
		p.idAuditorium1
		left join seat st on a.idAuditorium =
		st.fk_seat_idAuditorium,classification c
		where f.f_name =
		#{f_name} and
		c.idClass = f.idClass

	</select>
	<select resultMap="userOrderMap" id="selectUserOrder"
		parameterType="Integer">
		select u.* ,o.*,s.*,os.* from user u
		left join `moviesys_db`.`order` o on u.idUser = o.idUser
		left join
		orderseat os on os.fk_orderSeat_idOrder = o.idOrder
		left join seat s on
		os.fk_orderSeat_idSeat = s.idSeat
		where u.idUser= #{idUser} order by o.idOrder desc
	</select>
	<select id="selectPlayBypriceId" parameterType="Integer"
		resultMap="filmStudioMap">
		select p.*,a.*,e.*,s.*,f.*,pl.*,c.*,st.*
		from film_infor f
		left join play pl on f.idFilm = pl.idFilm
		left join
		price p on pl.idPlay
		= p.idPlay1
		left join studio s on pl.idStudio = s.idStudio
		left join
		edition e on
		e.idEdition =
		p.idEdition1
		left join
		auditorium a on
		a.idAuditorium =
		p.idAuditorium1
		left join seat st on a.idAuditorium =
		st.fk_seat_idAuditorium,classification c
		where p.idprice=#{idPrice} and
		c.idClass = f.idClass

	</select>

	<select id="selectAllFilmOnline" resultMap="filmMap">
		select * from
		film_infor where
		f_online=1;
	</select>
	<select id="selectFilmComing" resultMap="filmMap">
		select * from
		film_infor
		where
		f_online=2;
	</select>

	<select id="selectFilmPage" parameterType="java.lang.String"
		resultMap="filmMap">
		SELECT *
		FROM film_infor
		where
		f_online=1
	</select>
	<!-- 查询单条记录 -->
	<select id="selectFilm_inforById" parameterType="int" resultMap="filmMap">
		SELECT * FROM film_infor WHERE idFilm = #{idFilm}
	</select>
	
	<insert id="insertFilm" parameterType="com.ynu.dto.Film_infor">
		INSERT INTO
		film_infor(f_name,f_director,f_star,idClass,f_time)
		values(#{f_name},#{f_director},#{f_star},#{idClass},#{f_time})
	</insert>
</mapper>